<body>
<div class="slider-box">
  <ul>
    <li>
      <img src="https://images.pexels.com/photos/696218/pexels-photo-696218.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="1" />
    </li>
    <li>
      <img src="https://images.pexels.com/photos/1267320/pexels-photo-1267320.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="2" />
    </li>
    <li>
      <img src="https://images.pexels.com/photos/67468/pexels-photo-67468.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="3" />
    </li>
    <li>
      <img src="https://images.pexels.com/photos/262978/pexels-photo-262978.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="4" />
    </li>
  </ul>
</div>
<div class="fondo">
<div class="content-box">
    <div class="container-column">
      <h2 class="Planes">Planes de suscripcion</h2>
      <li>Empresa Pequeña</li>
      <p class="p1">
        ¡Ideal para pequeñas empresas!
        ¿Tienes un equipo entre 10 y 49 empleados? Nuestro Plan Pequeño es perfecto para ti. Disfruta de una selección exclusiva de restaurantes locales y mantén a tu equipo motivado con deliciosas opciones de comida, entregadas directamente a tu oficina. ¡Simplifica tus almuerzos y sorprende a tu equipo cada día!
      </p>
      <li>Empresa Mediana</li>
      <p class="p1">
        La solución perfecta para empresas en crecimiento
        Si tu empresa cuenta con entre 50 y 199 empleados, nuestro Plan Mediano es la opción ideal. Ofrecemos una amplia variedad de restaurantes y menús adaptados a todos los gustos y necesidades dietéticas. Asegura la satisfacción y productividad de tu equipo con comidas deliciosas y frescas, entregadas puntualmente a tu puerta.
      </p>
      <li>Empresa Grande</li>
      <p class="p1">
        Para empresas grandes y exitosas
        Empresas con 200 a 900 empleados, este es el plan que estaban esperando. Con nuestro Plan Grande, disfrutarás de un servicio premium con una extensa gama de opciones gastronómicas, menús personalizados y un soporte dedicado para asegurar que cada comida sea una experiencia excepcional. Eleva la moral y el bienestar de tu equipo con las mejores opciones culinarias del mercado.
      </p>
    </div>
  </div>
</div>
<div class="separador"></div>
</body>
