<body>
<div class="slider-box">
  <ul>
    <li>
      <img src="https://images.pexels.com/photos/696218/pexels-photo-696218.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="1" />
    </li>
    <li>
      <img src="https://images.pexels.com/photos/1267320/pexels-photo-1267320.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="2" />
    </li>
    <li>
      <img src="https://images.pexels.com/photos/67468/pexels-photo-67468.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="3" />
    </li>
    <li>
      <img src="https://images.pexels.com/photos/262978/pexels-photo-262978.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="4" />
    </li>
  </ul>
</div>
<div class="fondo">
<div class="content-box">
    <div class="container-column">
      <h2 class="head">Bienvenido a FastBite</h2>
      <div class="headbody">Transforma la forma en que tu empresa gestiona las comidas con
        nuestra innovadora plataforma de entrega de alimentos para oficinas.
        Diseñada para adaptarse a empresas de todos los tamaños, ofrecemos planes
        de suscripción que aseguran la satisfacción y productividad de tu equipo
        con comidas deliciosas, frescas y variadas, entregadas directamente a tu oficina.</div>
      <h2 class="Titulo">Planes de suscripcion</h2>
      <section class="planes">
      <mat-card class="plan">
        <mat-card-header>
          <mat-card-title>Empresa Pequeña</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          Si tienes un equipo entre 10 y 49 empleados, nuestro Plan Pequeño es perfecto para ti.
          Con una selección exclusiva de restaurantes locales, este plan está diseñado para mantener
          a tu equipo motivado y satisfecho con opciones de comida deliciosas, entregadas puntualmente
          a tu oficina. Simplifica tus almuerzos y sorprende a tu equipo cada día.
        </mat-card-content>
        <mat-card-footer>
          <mat-card class="caracteristicas">
            <li>Selección exclusiva de restaurantes locales</li>
            <li>Opciones variadas de menús</li>
            <li>Entregas puntuales</li>
            <li>Servicio personalizado</li>
          </mat-card>
        </mat-card-footer>
      </mat-card>
      <mat-card class="plan">
        <mat-card-header>
          <mat-card-title>Empresa Mediana</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          Para empresas con entre 50 y 199 empleados, nuestro Plan Mediano es la opción ideal. Ofrecemos
          una amplia variedad de restaurantes y menús adaptados a todos los gustos y necesidades dietéticas.
          Asegura la satisfacción y productividad de tu equipo con comidas deliciosas y frescas, entregadas
          directamente a tu puerta.
        </mat-card-content>
        <mat-card-footer>
          <mat-card class="caracteristicas">
            <li>Amplia variedad de restaurantes y menús</li>
            <li>Adaptación a necesidades dietéticas especiales</li>
            <li>Entregas puntuales y confiables</li>
            <li>Soporte dedicado al cliente</li>
          </mat-card>
        </mat-card-footer>
      </mat-card>
      <mat-card class="plan">
        <mat-card-header>
          <mat-card-title>Empresa Grande</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          Si tu empresa cuenta con entre 200 y 900 empleados, nuestro Plan Grande es lo que estabas esperando.
          Disfruta de un servicio premium con una extensa gama de opciones gastronómicas, menús personalizados y
          un soporte dedicado para asegurar que cada comida sea una experiencia excepcional. Eleva la moral y el bienestar
          de tu equipo con las mejores opciones culinarias del mercado.
        </mat-card-content>
        <mat-card-footer>
          <mat-card class="caracteristicas">
            <li>Servicio premium y personalizado</li>
            <li>Extensa gama de opciones gastronómicas</li>
            <li>Menús personalizados</li>
            <li>Soporte dedicado y prioritario</li>
          </mat-card>
        </mat-card-footer>
      </mat-card>
      </section>
    </div>
  </div>
</div>
<div class="separador"></div>
</body>
