<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" opened>
    <button class="first-button" mat-button routerLink="/ejemplo">Home</button>
    <button mat-button routerLink="/profile">Profile</button>
    <button mat-button routerLink="/restaurants">Restaurants</button>
    <button mat-button routerLink="/ejemplo1">My Orders</button>
    <button mat-button routerLink="/subscription">Suscription</button>
    <button mat-button routerLink="/ejemplo1">Notification</button>
    <button  class="last-button" mat-button routerLink="/ejemplo1">Logout</button>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

