
<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" opened>
    <button class="first-button" mat-button routerLink="/home"><mat-icon>home</mat-icon>Home</button>
    <button mat-button routerLink="/profile"><mat-icon>person</mat-icon>Profile</button>
    <button mat-button routerLink="/restaurants"><mat-icon>storefont</mat-icon>Restaurants</button>
    <button mat-button routerLink="/add-products"><mat-icon>inventory</mat-icon>Products Add</button>
    <button mat-button routerLink="/history"><mat-icon>inventory</mat-icon>History</button>
    <button mat-button routerLink="/orders"><mat-icon>inventory</mat-icon>Orders</button>
    <button mat-button routerLink="/subscription"><mat-icon>currency_exchange</mat-icon>Suscription</button>
    <button mat-button routerLink="/ejemplo1"><mat-icon>notifications</mat-icon>Notification</button>
    <button mat-button routerLink="/login" (click)="logout()" ><mat-icon>logout</mat-icon>Logout</button>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>



