
<h1>Perfil de usuario</h1>
<div>
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Nombre</mat-label>
      <input matInput placeholder="nombre" value="{{user.name}}">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Last Name</mat-label>
      <input matInput placeholder="last name" value="{{user.lastName}}">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Direccion</mat-label>
      <input matInput placeholder="direccion" value="{{user.address}}">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Telephone</mat-label>
      <span matTextPrefix>+51 &nbsp;</span>
      <input type="tel" matInput placeholder="555-555-1234" value="{{user.phone}}">
      <mat-icon matSuffix>mode_edit</mat-icon>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input type="email" matInput  placeholder="Ex. pat@example.com" value="{{user.email}}">
    </mat-form-field>
    <button mat-raised-button color="primary">Actualizar</button>
  </form>
</div>
