<div class="profile-section">
  <div class="container-profile">
    <div class="form">
      <h1 style="font-weight: bold; font-size: 3rem;">My Profile</h1>
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>Company Name</mat-label>
          <input matInput placeholder="nombre" [(ngModel)]="user.name" name="name">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Address</mat-label>
          <input matInput placeholder="direccion" [(ngModel)]="user.address" name="address">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Schedule</mat-label>
          <input matInput placeholder="direccion" [(ngModel)]="user.schedule" name="schedule">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Email</mat-label>
          <input type="email" matInput placeholder="Ex. pat@example.com" [(ngModel)]="user.email" name="email">
        </mat-form-field>

        <button mat-raised-button (click)="updateProfile()" style="height: 55px; width: 100%; background-color: #E74C3C">Guardar</button>
      </form>
    </div>
    <div class="images">
      <label class="label-text">Imagen</label>
      <img [src]="selectedImage" style="height: 200px; width: 200px; border-radius: 50%; margin-top: 10px;">
      <mat-form-field style="height: 70px; width: 400px; margin-top: 5px;">
        <mat-select placeholder="Selecciona una imagen" [(value)]="selectedImage">
          <mat-option *ngFor="let image of images" [value]="image.imageUrl">
            {{ image.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</div>

