<h1>Eligue entre estos restaurantes</h1>


<div class="card-container">
  <mat-card class="card" *ngFor="let restaurant of restaurants">
    <mat-card-header class="card-header">
      <img   mat-card-avatar  mat-card-image [src]="restaurant.urlToImage" [alt]="restaurant.name">
    </mat-card-header>
    <mat-card-title class="card-titulo">{{restaurant.name}}</mat-card-title>
    <mat-card-subtitle class="card-titulo"> Restaurants</mat-card-subtitle>
    <mat-card-content>
      <p>Direccion:{{restaurant.address}}</p>
      <p>Phone:{{restaurant.phone}}</p>
      <p> Email: {{restaurant.email}}</p>
      <p> Horario: {{restaurant.schedule}}</p>
    </mat-card-content>
    <mat-card-actions>
      <button class="button-color" mat-button (click)="navigateToMenuList(restaurant.id)" >Selecionar</button>
    </mat-card-actions>
  </mat-card>
</div>
