<div class="menus-container">
  <div class="section">
    <h1> Elige lo que deseas</h1>

    <h2 style="font-weight: bold; font-size: 1.5rem; align-self: start; margin-left: 2rem;">Entradas</h2>
    <div class="card-container">
      <mat-card class="card" *ngFor="let entrada of entradas">
        <mat-card-header class="card-header">
          <img mat-card-avatar mat-card-image [src]="entrada.image" [alt]="entrada.name">
        </mat-card-header>
        <mat-card-title class="card-titulo">{{entrada.name}}</mat-card-title>
        <mat-card-subtitle class="card-titulo">{{entrada.type}}</mat-card-subtitle>
        <mat-card-content>
          <p>{{entrada.description}}</p>
        </mat-card-content>
        <mat-card-actions>
          <button class="button-color" mat-button (click)="onCardClick(entrada)" style="background-color: #E74C3C">Agregar</button>
        </mat-card-actions>
      </mat-card>
    </div>

    <h2 style="font-weight: bold; font-size: 1.5rem; align-self: start; margin-left: 2rem;">Segundos</h2>
    <div class="card-container">
      <mat-card class="card" *ngFor="let segundo of segundos">
        <mat-card-header class="card-header">
          <img mat-card-avatar mat-card-image [src]="segundo.image" [alt]="segundo.name">
        </mat-card-header>
        <mat-card-title class="card-titulo">{{segundo.name}}</mat-card-title>
        <mat-card-subtitle class="card-titulo">{{segundo.type}}</mat-card-subtitle>
        <mat-card-content>
          <p>{{segundo.description}}</p>
        </mat-card-content>
        <mat-card-actions>
          <button class="button-color" mat-button (click)="onCardClick(segundo)" style="background-color: #E74C3C">Agregar</button>
        </mat-card-actions>
      </mat-card>
    </div>

    <h2 style="font-weight: bold; font-size: 1.5rem; align-self: start; margin-left: 2rem;">Bebidas</h2>
    <div class="card-container">
      <mat-card class="card" *ngFor="let bebida of bebidas">
        <mat-card-header class="card-header">
          <img mat-card-avatar mat-card-image [src]="bebida.image" [alt]="bebida.name">
        </mat-card-header>
        <mat-card-title class="card-titulo">{{bebida.name}}</mat-card-title>
        <mat-card-subtitle class="card-titulo">{{bebida.type}}</mat-card-subtitle>
        <mat-card-content>
          <p>{{bebida.description}}</p>
        </mat-card-content>
        <mat-card-actions>
          <button class="button-color" mat-button (click)="onCardClick(bebida)" style="background-color: #E74C3C">Agregar</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
